	<style type="text/css">
		body {
		background-color: #E9E9E9;
		color: #333;
		font-family:"Lucida handwriting", "Snell Roundhand", "Helvetica Neue",Arial,Helvetica,sans-serif;
		font-size: 16px;
	}
	
	.amp {
		font-family:Garamond,Baskerville,Georgia,serif !important;
		font-style:italic;
		font-weight:normal;
		border: none;
	}
	
	
	
	</style>


	<div class="photo-album">
		
		
		
		
		<a  class="large polaroid img2"><img src="/int2.jpg" alt=""></a>
		
		
		
		
		<a  class="small polaroid img5"><img src="/int5.jpg" alt=""></a>
		
		
		<a  class="medium polaroid img6"><img src="/int6.jpg" alt=""></a>
		
		
		<a  class="medium polaroid img9"><img src="/int9.jpg" alt=""></a>
		<a  class="medium polaroid img10"><img src="/int10.jpg" alt=""></a>
		<a  class="small polaroid img11"><img src="/int11.jpg" alt=""></a>
		
		<a  class="small polaroid img13"><img src="/int13.jpg" alt=""></a>
		
		

	</div>
	