<style type="text/css">
  a.polaroid {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px 20px 10px;
    width: 150px;
    border: 1px solid #BFBFBF;
    background-color: white;
    z-index: 2;
    font-size: 0.7em;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -webkit-transition: -webkit-transform 0.5s ease-in;
  }
  a.polaroid:hover,
  a.polaroid:focus,
  a.polaroid:active {
    z-index: 999;
    border-color: #6A6A6A;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .polaroid img {
    margin: 0 0 15px;
    width: 150px;
    height: 150px;
  }
  
  a img {
    border: none;
    display: block;
  }
  
  .photo-album {
    position: relative;
    width: 100%;
    margin: 0 auto;
    max-width: 70em;
    height: 500px;
    margin-top: 10px;
    min-width: 300px;
    max-width: 900px;
    
  }
  .photo-album .polaroid {
    position: absolute;
  }
  .photo-album h1 {
    position: absolute;
    z-index: 5;
    top: 150px;
    text-align: center;
    width: 100%;
    line-height: 1.9;
  }
  .photo-album h1 span {
    background-color: white;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 0.4em 0.8em 0.3em 0.8em;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    border: 1px solid #6A6A6A;
  }
  .photo-album .small {
    width: 75px;
    padding: 6px 6px 12px 6px;
    font-size: 0.6em;
  }
  .photo-album .small img {
    width: 100%;
    height: 75px;
    object-fit: cover;
  }
  .photo-album .medium {
    width: 200px;
    padding: 13px 13px 26px 13px;
    font-size: 0.8em;
  }
  .photo-album .medium img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .photo-album .large {
    width: 200px;
    padding: 20px 20px 30px 20px;
    font-size: 1em;
  }
  .photo-album .large img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .photo-album .img1 {
    bottom: 10px;
    right: 365px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  .photo-album .img2 {
    top: 50px;
    right: 20px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
   .photo-album .img {
    top: 50px;
    
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  .photo-album .img3 {
    left: 400px;
    top: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  .photo-album .img4 {
    top: 10px;
    left: 495px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  .photo-album .img5 {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  .photo-album .img6 {
    bottom: 10px;
    right: 156px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  .photo-album .img7 {
    bottom:0;
    left:400px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  .photo-album .img8 {
    bottom: -20px;
    left: 700px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  .photo-album .img9 {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  .photo-album .img10 {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  .photo-album .img11 {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  .photo-album .img12 {
    top: 0;
    left: 680px;
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  .photo-album .img13 {
    bottom: -20px;
    right: 630px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .photo-album .img14 {
    top: 90px;
    left: 430px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  .photo-album .img15 {
    left:176px;
    top:20px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  
  a:hover,
  a:focus {
    z-index: 5;
  }
</style>
<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">

      <!-- <div class="navbar-start"> -->
      <!-- <div class="columns"> -->
      
      <a class="navbar-item">
        <div class="menu-icon-wrapper left-menu-icon-wrapper" style="visibility: visible;">
          <svg width="1000px" height="1000px">
            <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
            <path class="path2" d="M 300 500 L 700 500"></path>
            <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
          </svg>
          <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
        </div>
        <div class="navbar-item left-menu-icon-wrapper">
          {{ i18n "tags" }}
        </div>
      </a>

      <div class="navbar-item is-expanded"></div>
      <a class="navbar-item is-hidden-desktop">  
        <div data-target="navbar-menu" class="navbar-item right-menu-icon-wrapper is-hidden-desktop">
          {{ i18n "mainMenu" }}
        </div>
        <div data-target="navbar-menu" class="menu-icon-wrapper right-menu-icon-wrapper" style="visibility: visible;">
          <svg width="1000px" height="1000px">
            <path class="path1" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
            <path class="path2" d="M 300 500 L 700 500"></path>
            <path class="path3" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
          </svg>
          <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
        </div>
      </a>
    </div>

    {{- $showIcons := false -}}
    {{- if .Site.Params.navbar.showIcons -}}
      {{- $showIcons = .Site.Params.navbar.showIcons -}}
    {{- end -}}
    {{- $mainColour := .Site.Params.mainColour -}}
    <div id="navbar-menu" class="navbar-menu is-static">
      <!-- <div class="navbar-start"></div> -->
      <div class="navbar-end">
        {{- $home    := .Site.Params.homepage.linkPosition -}}
        {{/*  {{- if or (eq $home "menu") (eq $home "menu+footer") -}}  */}}
        {{ if or (eq $home "menu") (eq $home "menu+footer") }}
          <a href="{{ "/" | relLangURL }}" class="navbar-item is-secondary">
            {{- if $showIcons -}}
              <i class="fa fa-home" style="color:{{- print $mainColour -}};">&nbsp;</i>
            {{- end -}}
            {{- if .Site.Params.homepage.linkText -}}
              {{- print .Site.Params.homepage.linkText -}}
            {{- else -}}
              {{ i18n "homepage" }}
            {{- end -}}
          </a>
        {{- end -}}
        {{ range .Site.RegularPages }}
          {{- if eq .Params.showInMenu true -}}
          <a href="{{- .Permalink | relURL -}}" class="navbar-item is-secondary">
            {{- if $showIcons -}}
              <i class="fa fa-file-text" style="color:{{- print $mainColour -}};">&nbsp;</i>
            {{- end -}}            
            {{- .Title -}}
          </a>
          {{- end -}}
        {{- end -}}
        {{- range .Site.Sections -}}
          {{- if not (eq .Title "singles") -}}
          {{- $secCount := len .Sections -}}
          {{- if (ne $secCount 0) }}
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="{{- .Permalink | relURL -}}" class="navbar-link">
              {{- if $showIcons -}}
                <i class="fa fa-book" style="color:{{- print $mainColour -}};">&nbsp;</i>
              {{- end -}}
              {{- .Title -}}
            </a>
            <div class="navbar-dropdown">
              <!-- <a href="{{- .Permalink -}}" class="navbar-item">
                > All
              </a> -->
              {{- range .Sections -}}
              <a href="{{- .Permalink | relURL -}}" class="navbar-item">
                {{- .Title -}}
              </a>
              {{- end -}}
            </div>
          </div>
          {{- else -}}
          <a href="{{- .Permalink | relURL -}}" class="navbar-item is-secondary">
            {{- if $showIcons -}}
              <i class="fa fa-book" style="color:{{- print $mainColour -}};">&nbsp;</i>
            {{- end -}}
            {{- .Title -}}
          </a>
          {{- end -}}
        {{- end -}}
        {{- end -}}
      </div>
    </div>




  </div>
</nav>
